<!-- header.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="px-4 md:px-72 p-1 flex flex-row items-center justify-between bg-yellow-300">
        <div>.</div>
        <div class="font-semibold">024 4850 3834</div>
          <!-- <div class="cursor-pointer p-2 px-4 border border-2 border-green-400 text-green-400 rounded-full hover:bg-green-400 hover:text-white">farm shop</div> -->
    </div>
