<!-- header.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="px-8 pb-4">
    <div class="flex flex-row items-center justify-around mb-10 lg:mb-0 rounded-xl bg-green-500">
        <div class="md:pl-16 pl-20 flex flex-col text-4xl space-y-10 gap-2 text-center lg:text-left">
           <!-- <span class="">Get the best</span>
           <span>Fresh <span class="text-green-400">farm Produce</span></span> -->
           <div class="font-bold text-7xl tracking-tight">
            Get the <br> Best <span class="text-white">farm</span> Produce
           </div>

           <div class="text-xl font-light text-white tracking-wide">farm to table freshness you can taste</div>

           <div class="text-green-500 bg-white font-bold text-sm p-2 px-4 rounded-md w-40 text-center cursor-pointer hover:bg-white">
            Discover me
           </div>
        </div>

        <div class="pt-4">
            <div class="lg:flex hidden rounded-md bg-green-400 rounded-full">
              <img src="/images/farmerr.png" class=""/>
            </div>
        </div>
      </div>
    </div>